.poster {
  border-radius: 10px;
}

.activePosterBox,
.inactivePosterBox {
  cursor: pointer;
  position: relative;
  filter: brightness(0.9);
}

.PosterBox-image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  cursor: pointer;
  background-color: #242424;
}

.inactivePosterBox {
  filter: brightness(0.4);
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.arrowPrevBox,
.arrowNextBox,
.noneArrowPrevBox,
.noneArrowNextBox {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 100%;
  cursor: pointer;
}

.arrowNextBox,
.noneArrowNextBox {
  right: 0;
  top: 0;
}

.arrow {
  color: #786f6a;
  font-size: calc(2rem + 0.5vw);
}

.arrowPrevBox:hover .arrow,
.arrowNextBox:hover .arrow {
  color: #c1bcb9;
}

.noneArrowPrevBox,
.noneArrowNextBox {
  cursor: auto;
}

.nonePoster {
  opacity: 0;
}

.posterTitle {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: calc(2rem + 3vw);
  font-weight: bold;
  top: 70%;
  left: 5%;
}

.slider {
  margin: 15px 8px 0 8px;
  height: 90%;
  position: relative;
}

.slider img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.slider:hover .subCarouselImage {
  transform: translateY(-10px); /* move image up by 2px on hover */
}

.react-loading-skeleton {
  --base-color: #212121 !important;
  --highlight-color: #333333 !important;
  width: 100% !important;
}

.slider-image {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  background-color: #242424;
  aspect-ratio: 16/9;
}

.react-multi-carousel-item:first-child {
  margin-left: 1.5%;
}

.react-multi-carousel-item:last-child {
  margin-right: calc(1.5% - 5vw);
}

.insufficientSlidesImage {
  margin-left: calc(5vw - 1.5%);
}

.littleInsufficientSlidesImage {
  margin-left: calc(5vw - 1.5%);
}

.react-multi-carousel-list {
  overflow: visible !important;
}

.custom-dot-list-style {
  z-index: -1;
}

.react-multi-carousel-track {
  overflow-y: visible !important;
}

.react-multi-carousel-dot-list {
  bottom: 103% !important;
  z-index: 1;
  justify-content: end !important;
  right: 5.5% !important;
  display: none !important;
}

.custom-dot-list-style button {
  border: none !important;
  background: #808080;
  width: 6px !important;
  height: 6px !important;
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: #ffffff !important;
}

.carouselTitle {
  color: white;
  margin-top: 7vh;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 5.8%;
  z-index: -1;
}

.carouselArrowPrevBox,
.carouselArrowNextBox {
  position: absolute;
  color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  z-index: 1;
  display: flex;
  cursor: pointer;
  display: none;
  width: 5.5%;
}

.carouselBox:hover .carouselArrowPrevBox,
.carouselBox:hover .carouselArrowNextBox {
  display: flex;
}

.carouselBox:hover .custom-dot-list-style {
  display: flex !important;
}

.carouselArrow {
  color: white;
  font-size: 2rem;
  margin: auto;
}

.carouselArrowNextBox {
  right: 0;
  background: linear-gradient(to right, transparent, black);
}

.carouselArrowPrevBox {
  background: linear-gradient(to left, transparent, black);
}

.listTitle {
  color: white;
  font-size: calc(1.2rem + 0.25vw);
}
