.detailBox {
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.detailBox::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6%;
  width: 88%;
  border-bottom: 1px solid #212121;
}

.detailTitle {
  margin-top: 5vh;
  color: white;
  font-size: calc(3rem);
  font-weight: bold;
  margin-bottom: 1vh;
}

.detailTitleSkeleton {
  margin-top: 6vh;
  color: white;
  font-size: calc(3rem);
  font-weight: bold;
  margin-bottom: 1vh;
  width: 20% !important;
}

.detailAdult {
  background-color: #333333;
  display: inline-block;
  margin-left: 0.2vw;
  color: white;
  font-weight: bold;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border: 2px solid #333333;
  border-radius: 3px;
}

.detailElementBox {
  display: flex;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.detailElement {
  display: inline-block;
  border: 2px solid #565559;
  margin-left: 0.5vw;
  color: #bcbdbe;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
}

.detailButton {
  background-color: white;
  font-size: 1.15rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 2vh 1.5vw;
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border: none;
  cursor: pointer;
}

.detailButton:focus {
  border: none;
}

.detailElementSkeleton {
  display: inline-block;
  margin-right: 0.5vw;
  font-weight: bold;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border: 2px solid #333333;
  border-radius: 3px;
  width: 2.5vw !important;
}

.detailOverview {
  color: #bcbdbe;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  margin-top: 2vh;
  max-width: 100%;
  font-weight: bold;
  font-size: 1.15rem;
  letter-spacing: 0.1px;
  word-spacing: 2px;
  line-height: 27px;
  padding-bottom: 5%;
}

.detailOverviewSkeleton {
  width: 100%;
  font-size: 1.15rem;
  margin-bottom: 0.6rem;
}

.detailPoster {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 8px;
}

.detailPosterSkeleton {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 5px;
  cursor: pointer;
  background-color: #242424;
}

.detailLeftBox {
  width: 55%;
}

.detailRightBox {
  margin-top: 4.5vh;
  padding-bottom: 5%;
  width: 20%;
}

.trailerBox {
  margin: auto;
  aspect-ratio: 16/9;
  width: 90%;
  max-height: 80vh;
}
