.poster {
  border-radius: 10px;
}

.activePosterBox,
.inactivePosterBox {
  cursor: pointer;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
  filter: brightness(0.9);
}

.inactivePosterBox {
  filter: brightness(0.4);
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.arrowPrevBox,
.arrowNextBox,
.noneArrowPrevBox,
.noneArrowNextBox {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 100%;
  cursor: pointer;
}

.arrowNextBox,
.noneArrowNextBox {
  right: 0;
  top: 0;
}

.arrow {
  color: #786f6a;
  font-size: calc(2rem + 0.5vw);
}

.arrowPrevBox:hover .arrow,
.arrowNextBox:hover .arrow {
  color: #c1bcb9;
}

.noneArrowPrevBox,
.noneArrowNextBox {
  cursor: auto;
}

.nonePoster {
  opacity: 0;
}

.posterTitle {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: calc(2rem + 3vw);
  font-weight: bold;
  top: 70%;
  left: 5%;
}
